   /* Navbar styling */
   nav {
    background-color: #2f855a;
  }

  nav a {
    transition: color 0.3s ease-in-out;
  }

  nav a:hover {
    color: #cbd5e0;
  }

  .navbar-button:hover {
    background-color: #276749;
  }
