<!-- 
<nav class="space-x-4 sm:space-x-6 mt-4 sm:mt-0 text-center sm:text-left">
  <a routerLink="/home"
    class="hover:underline text-white font-semibold transition duration-300 ease-in-out transform hover:scale-110">
    <i class="fas fa-home"></i> Home
  </a>
  <a routerLink="/services"
    class="hover:underline text-white font-semibold transition duration-300 ease-in-out transform hover:scale-110">
    <i class="fas fa-tools"></i> Services
  </a>
  <a routerLink="/about"
    class="hover:underline text-white font-semibold transition duration-300 ease-in-out transform hover:scale-110">
    <i class="fas fa-info-circle"></i> About Us
  </a>
  <a routerLink="/gallery"
    class="hover:underline text-white font-semibold transition duration-300 ease-in-out transform hover:scale-110">
    <i class="fas fa-images"></i> Gallery
  </a>
  <a routerLink="/executives"
    class="hover:underline text-white font-semibold transition duration-300 ease-in-out transform hover:scale-110">
    <i class="fas fa-user-tie"></i> Executives
  </a>
  <a routerLink="/contact"
    class="hover:underline text-white font-semibold transition duration-300 ease-in-out transform hover:scale-110">
    <i class="fas fa-envelope"></i> Contact
  </a>
</nav> -->
