<nav class="bg-green-600 text-white p-4 flex justify-between items-center opacity 80">
  <div class="flex items-center space-x-4">
    <img src="/assets/DALL·E 2024-08-17 06.55.08 - Create a nature-inspired version of the Owe2 Green Economy logo, with earth tones such as green and brown. Incorporate a natural, organic font and ele.webp" alt="Owe2 Green Economy Logo" class="h-12 w-12 object-contain">
    <div class="text-lg font-extrabold">OWE2 GREEN ECONOMY</div>
  </div>
    <div>
      <a routerLink="/" class="mr-4 hover:underline">Home</a>
      <a routerLink="/register" class="mr-4 hover:underline">Register</a>
      <a routerLink="/login" class="hover:underline">Login</a>
    </div>
  </nav>